<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>atom packages evolution</title>
    <link rel="stylesheet" href="../style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <style>
    </style>
  </head>
  <body>
    <header>
      <h1>atom-packages-evolution</h1>
    </header>
    <div class='container'>
      <h1>{{name}}</h1>
      <div style="font-size: 13px; color: #CCC;">Last updated: 5 mins ago</div>
      <div>
        <div>Downloads: {{downloads}}</div>
        <div>Stars: {{stargazersCount}}</div>
      </div>
    </div>
    <footer>
      Made by @jacobmendoza from Limerick - Ireland / Valencia - Spain
    </footer>
  </body>
</html>
