<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>atom packages evolution</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <style>
    </style>
  </head>
  <body>
    <header>
      <h1>atom-packages-evolution</h1>
    </header>
    <div class='container'>
      <div class='container-text'>
        <div class='container-text-title'>
          What's this?
        </div>
        Atom is an editor from GitHub. As far as I know, they don't provide a history about downloads and other information from the packages.
        I'm assuming that GitHub will probably solve that soon, so I have created the simplest application.
      </div>
      <div class="search-bar">
        <input required="true" class="search-bar-input" placeholder="Enter the atom package name">
        <button class="search-bar-button" type="submit">Go!</button>
      </div>
    </div>
    <!-- {{#atomPackagesList}}
      <div>{{name}} - {{downloads}}</div>
    {{/atomPackagesList}} -->
    <footer>
      Made by @jacobmendoza from Limerick - Ireland / Valencia - Spain
    </footer>
  </body>
</html>
